@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Sarabun');
body {
    margin: 40px;
    font-family: 'Sarabun', sans-serif;
}

.sidebar {
    grid-area: sidebar;
}

.sidebar2 {
    grid-area: sidebar2;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wrapper {
    width: 900px;
    height: 600px;
    Height: 100% background-color: #fff;
    color: #444;
}

.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: "header" "sidebar" "content" "sidebar2" "footer"
}

@media only screen and (min-width: 300px) {
    .wrapper {
        grid-template-columns: 20% auto;
        grid-template-areas: "header   header" "sidebar  content" "sidebar2 sidebar2" "footer   footer";
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .wrapper {
        grid-gap: 20px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas: "header  header  header" "sidebar content sidebar2" "footer  footer  footer";
        width: 100%;
    }
}

.box {
    background-color: #whitesmoke;
    color: black;
    border-radius: 0px;
    padding: 10px;
    font-size: 150%;
    border: 3px solid black;
}

.header,
.footer {
    width: 100%;
    background-color: whitesmoke;
}

.header {
    height: 50px;
}

.footer {
    height: 30px;
}

.sidebar2 {
    background-color: whitesmoke;
    width: 100%;
}

.content {
    display: grid;
    grid-gap: 1px;
    grid-column-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-auto-rows: 90px;
    grid-auto-flow: dense;
    background: black;
    height: 400px;
    overflow: hidden scroll;
}

.content>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.content>div>img {
    width: 100px;
    height: 100%;
    border: 3px white solid;
    margin: 2px;
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-row: span 2;
    grid-column: span 2;
}